@page "/"
@rendermode InteractiveServer

@using MudBlazor.Interfaces
@using Machine
@using Machine.Objects
@using ElevatorCreator.Managers
@using MudBlazor

<MudPopoverProvider />

<PageTitle>Home</PageTitle>
<MudTextField Value="@Running"></MudTextField>

@if (!Running)
{
    <button class="btn btn-primary" @onclick="StartAll">Start</button>
}

@if (_switchBoard != null)
{
    <MudText>Elevators: @_switchBoard.Elevators.Count</MudText>
    <MudTable Items="@_switchBoard.Elevators">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Capacity</MudTh>
            <MudTh>Floor</MudTh>
            <MudTh>Load</MudTh>
            <MudTh>Status</MudTh>
            <MudTh>Total Load</MudTh>
            <MudTh>Destination Floor</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Capacity">@context.Capacity</MudTd>
            <MudTd DataLabel="Floor">@context.Floor</MudTd>
            <MudTd DataLabel="Load">@context.Load</MudTd>
            <MudTd DataLabel="Status">@context.Status.ToString()</MudTd>
            <MudTd DataLabel="Load">@context.Loads.FirstOrDefault()?.Load</MudTd>
            <MudTd DataLabel="DestinationFloor">@context.Loads.FirstOrDefault()?.DestinationFloor</MudTd>
        </RowTemplate>
  
    </MudTable>

    <MudText>Que: @_switchBoard.WaitQue.Count</MudText>
    <MudTable Items="@_switchBoard.WaitQue">
        <HeaderContent>
            <MudTh>Type</MudTh>
            <MudTh>From Floor</MudTh>
            <MudTh>To Floor</MudTh>
            <MudTh>Load</MudTh>
            <MudTh>Directrion</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Type">@context.Type.ToString()</MudTd>
            <MudTd DataLabel="Floor">@context.FloorNumber</MudTd>
            <MudTd DataLabel="DestinationFloor">@context.DestinationFloor</MudTd>
            <MudTd DataLabel="Load">@context.Load</MudTd>
            <MudTd DataLabel="Direction">@context.Direction.ToString()</MudTd>
        </RowTemplate>

    </MudTable>

}
@if (Running)
{
    <MudItem>
        <MudSelect T="Int32"  @bind-Value="newLoadType" Label="Type">
            <MudSelectItem Value="0" >Standard</MudSelectItem>
            <MudSelectItem Value="1">Glass</MudSelectItem>
            <MudSelectItem Value="2">Service</MudSelectItem>
        </MudSelect>

        <MudTextField @bind-Value="newLoad.FloorNumber" Label="From Floor"></MudTextField>
    <MudTextField @bind-Value="newLoad.DestinationFloor" Label="To Floor"></MudTextField>
    <MudTextField @bind-Value="newLoad.Load" Label="Load"></MudTextField>

    <MudButton OnClick="CallElivator">Call Elivator</MudButton>
    </MudItem>
}

@code{

    private int BaseMentFloors = 0;
    private int TopFloor = 5;

    private WaitingLoad newLoad = new();
    private int newLoadType = 0;

    private Central _switchBoard;

    private bool Running = false;
    private async void StartAll()
    {
        Running = true;
        InvokeAsync(StateHasChanged);
        //StateHasChanged();

        _switchBoard = new Central();

        _switchBoard.ElevatorMoved += SwitchBoard_ElevatorMoved;

        //  _switchBoard.AddAlivator(enElivatorType.Service);
        // _switchBoard.AddAlivator(enElivatorType.Glass);
        // _switchBoard.AddAlivator(enElivatorType.Glass);
         _switchBoard.AddAlivator(enElivatorType.Standard);
         //_switchBoard.AddAlivator(enElivatorType.Standard);

        if (BaseMentFloors < 0)
            BaseMentFloors -= Math.Abs(BaseMentFloors);

        _switchBoard.Start(TopFloor, BaseMentFloors);

        // _switchBoard.RequestElevator(enElivatorType.Glass, 1, 4, 4);
        //_switchBoard.RequestElevator(enElivatorType.Standard, 2, 3, 6);

        _switchBoard.RequestElevator(enElivatorType.Standard, 3, 0, 11);

        // _switchBoard.RequestElevator(enElivatorType.Glass, 0, 5, 5);
        // _switchBoard.RequestElevator(enElivatorType.Service, 0, 4, 14);
        _switchBoard.RequestElevator(enElivatorType.Standard, 1, 5, 2);

        InvokeAsync(StateHasChanged);
        //StateHasChanged();


    }

    private void CallElivator()
    {
        enElivatorType evt = enElivatorType.Standard;
        if (newLoadType == 1)
            evt = enElivatorType.Glass;
        else if (newLoadType == 2)
            evt = enElivatorType.Service;

        _switchBoard.RequestElevator(evt, newLoad.FloorNumber, newLoad.DestinationFloor, newLoad.Load);
    }
    void SwitchBoard_ElevatorMoved(Object sender, ElevatorEventArgs e)
    {
        //update the page
        //e.Elevator
        // var currentEleivator = elivators.First(a => a.Name == e.Elevator.Name);
        // currentEleivator.Status = e.Elevator.Status;
        // currentEleivator.Floor = e.Elevator.Floor;
        // currentEleivator.Load = e.Elevator.Load;
        ;
        InvokeAsync(StateHasChanged);
       // StateHasChanged();

    }
}